<html>
    <head>

    </head>
    <body>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <div>
                    <label>NAME</label>
                    <input type="text" name="uname"/>
                </div>
                <div>
                    <label>IMAGE</label>
                    <input type="file" name="yourimage"/>
                </div>
                <div>
                    <button type="submit">SUBMIT</button>
                </div>

            </form>

    </body>
</html>